ul.social
  li
    a(href="https://github.com/ashutosh-shirole", target="_new")
      i.icon-github
      span ashutosh on github
  li
    a(href="http://lnkd.in/dNi6q2n", target="_new")
      i.icon-linkedin
      span ashutosh on linkedin
  li
    a(href="https://google.com/+AshutoshShirole", target="_new")
      i.icon-google-plus
      span ashutosh on google plus
